src/main/mule/buildkite-pipeline-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="98936055-10ed-41fa-9008-6f02ec67a1d9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="buildkite-pipeline-pocFlow" doc:id="7191dcf6-9a7b-47a0-a18e-303a8cf3c085" >
		<http:listener doc:name="Listener" doc:id="c77536c6-feb4-455a-92d2-d1d0cddaeffa" config-ref="HTTP_Listener_config" path="/buildkite"/>
		<set-payload value='#["Buildkite"]' doc:name="Set Payload" doc:id="fec646fe-f0e1-4fcd-b694-4c2ac6c7c4f2" />
		<logger level="INFO" doc:name="LOG Payload" doc:id="1637d0bf-9108-4f30-9350-c25335eaf50f" message="#[payload]"/>
	</flow>
</mule>